html, body {
  font-family: Larsseit, sans-serif;
  background: rgb(255, 255, 255);
}

a {
  text-decoration: none;

}

a:hover {
  color: #000645;
}

li {
  color: black;
  text-decoration: none;
  list-style: none;
}

.rotate {
  transition: all 1s ease-in-out ;
}

.rotate:hover {
  transform: rotate(-180deg);
}

.btn-blue {
  background: #000645;
}

.btn-outline-blue {
  color: #000645;
  border: 1px solid #000645;
}

.text-blue {
  color: #000645;
  /* font-size: 40px; */
}

.border-blue {
  border-color: #000645;
}

.border-bottom {
  border: #000645;
}



.btn-blue1 {
  color: #000645;
  border: 1px solid #3a4b67;
}


.text-wrap {

}

.logo {
  width: 160px;
}

.store {
  width: 160px;
}

.bg-blue {
  background: #000645;
}

.bg-pink {
  background: #fff6f7;
}

.contact-h {
  height: 70vh;
}

.pink-h {
  height: 80vh;
}
.blockquote {
  font-size: 12px;
  line-height: 1.5rem;
  z-index: 1;
}

.lead {
  display: flex;
}


.hover:hover {
  background-color: #f4f4f4;
  padding: 55px 63px 63px;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.rounded-4 { border-radius: 15px 15px 0 0;}
.rounded-4b { border-radius: 0 0 15px 15px;}

.vh {
  height: 60vh;
}
.vh::after {
  content: '';
  background: rgb(0,0,0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.why {
  height: 570px;
}

.article {
  height: 100px;
  width: 1100px;
}

.article:hover {
  border: 0.5px #444 solid;
  border-radius: 2px;
}

.mt-n1 {
  margin-top: 15rem !important;
}

.reg {
  background: url('/img/selling2.jpeg') no-repeat center/cover;
  height: 25vh;
  text-align: center;
  padding-top: 70px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.reg h2 {
  font-size: 2.5rem;
}


.career {
  width: 85%;
}

.career-opening {
  padding: 2rem 6rem 1rem;
}


.footer li {
  list-style: none;
}

/* Carousel */
.carousel-item {
  height: 70vh;
  min-height: 300px;
  background: no-repeat center center/cover;
}

.carousel-item::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}

.carousel-caption {
  left: 0;
  right: 500px;
  bottom: 150px;
  margin-left: 0;
  padding: 0 10px;
}

.carousel-caption h6 {
  font-size: 2.5rem;
  font-weight: 900px;
  width: 50rem;
  text-align: left;
  margin-left: 200px;
  margin-top: 80px;
}

.carousel-caption p {
  text-align: left;
  margin-left: 200px;
  font-size: 1.5rem;
}

.slider-store {
  width: 100px;
}

.slider-btn {
  margin-right: 300px;
  margin-bottom: 30px;
}

#agent-reg img {
  width: 220px !important;
  position: relative;
  background: no-repeat center center/cover;
}

#agent-reg img::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}

#pocketmoni .elements {
  position: relative;
}

#pocketmoni .elements .circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: -30px;
  left: 130px;
  position: absolute;
}

.crd-g {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.crd {
  background: #fff;
  width: 300px;
  height: 400px;
  margin: 60px;
  border-radius: 10px;
}

.card-image {
  background-color: #444;
  height: 200px;
  border-radius: 10px 10px 0 0;
}
.car-1 {
  background: url('../img/register1.png') no-repeat center center/cover;
  margin-bottom: 40px;
}
.car-2 {
  background: url('../img/download1.png') no-repeat center center/cover;
  margin-bottom: 40px;
}
.car-3 {
  background: url('../img/transact1.png') no-repeat center center/cover;
  margin-bottom: 40px;
}

.crd h3 {
  text-align: center;
  padding: 5px 10px;

}

.part-border {
  width: 1200px;
  height: 550px;
  border: 1px solid #000;
  position: relative;
  margin: 150px auto;
}

.part-border::after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 300px;
  width: 600px;
  border: 5px solid #fff;
}

.part-border h2 {
  font-size: 40px;
  position: absolute;
  top: -40px;
  left: 300px;
  z-index: 2;
  text-align: center;
  /* width: 500px; */
}

#story {
  background: #fff6f7;
  height: 60vh;

}

.story {
  width: 85%;
  height: 450px;
  border-radius: 20px;
}

.story-pics {
  background: url('../img/story.jpeg') no-repeat center center/cover;
  width: 95%;
  height: 450px;
  border-radius: 20px;
  position: relative;
  margin-top: 80px;
}

.story-pics::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
  border-radius: 20px;

}

.story-textpics {
  top: 65px;
  left: 90px;
}

.story-textpics h2 {
  font-size: 48px;
}

.story-textpics p {
  font-size: 18px;
}

.story-progress {
  width: 1050px;
  margin-top: 10px;
}

.story-progress1 {
  width: 230px;
  height: 3px;
  background: red;
}

#sendmoney {
 margin-top: 200px;
 margin-bottom: 200px;
}

#sendmoney img {
  background: no-repeat center center/cover;
  width: 95%; 
  height: 150px;
  border-radius: 50px;
}

#sendmoney .row:nth-child(even) {
  margin-top: 600px;
}


.message {
  width: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
